
<div class="row">
    <div class="col offset-s2 s4">
        <h1>Shop</h1>
        <p>Click on the button below to send an event to your Google Analytics.</p>
        <p>You can see it in the real-time panel under 'Events'. For the list of event names and default categories, <a href="https://developers.google.com/analytics/devguides/collection/gtagjs/events">check out this page.</a></p>
        <a class="waves-effect waves-light btn" (click)="SendAddToCartEvent()">Add To Cart</a>
    </div>
</div>

