<div class="row">

        <div class="col offset-s2 s4">
            <h1>Home</h1>
            <p>This tutorial will cover Google Analytics Page and Event tracking implementation in Angular.</p>
            <p>This version is created using Angular 8 using the CLI.</p>
            <p><strong>Quick notes:</strong></p>
            <ul>
                <li>
                    <code>declare let gtag: Function;</code> lets Angular access Google's <code>gtag</code> function and use it in your code.
                </li>
                <li>
                    Use <code>gtag</code> for tracking pageviews and events. <code>ga</code> has been depreciated and won't work.
                </li>
            </ul>
            
            <p>Places to find me....</p>
            <p>
                <a href="https://medium.com/@PurpleGreenLemon">Medium</a> | 
                <a href="https://twitter.com/dottedSquirrel">Twitter - @dottedSquirrel</a> | 
                <a href="http://dottedsquirrel.com">Dotted Squirrel</a>
            </p>   
            <p>- Aphinya</p> 
        </div>
  
      </div>
